<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  
  <servlet>
  	<servlet-class>xuyuji.UploadServlet</servlet-class>
  	<servlet-name>upload</servlet-name>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<servlet-class>xuyuji.DownloadServlet</servlet-class>
  	<servlet-name>download</servlet-name>
  </servlet>
  <servlet>
  	<servlet-class>xuyuji.DeleteServlet</servlet-class>
  	<servlet-name>delete</servlet-name>
  </servlet>
  <filter>
  	<filter-class>xuyuji.CodeFilter</filter-class>
  	<filter-name>setcode</filter-name>
  </filter>
  
  <servlet-mapping>
  	<servlet-name>upload</servlet-name>
  	<url-pattern>/servlet/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>download</servlet-name>
  	<url-pattern>/servlet/download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>delete</servlet-name>
  	<url-pattern>/servlet/delete</url-pattern>
  </servlet-mapping>
  <filter-mapping>
  	<filter-name>setcode</filter-name>
  	<url-pattern>/servlet/*</url-pattern>
  </filter-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
